/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datetimepicker
 */
@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Bubbler+One);
/* CSS Document */

body{
    background-color:#FFF6EB;
    overflow-x: hidden;
}

.lp-navbar-inverse
{
    background-color: #B28249;
    border-color: #A67944;
}

.lp-navbar-toggle {
    border-color: #755630
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #755630;
}

.sidebar{
    position:fixed;
    top:40px;
    left:0px;
    height:100%;
    width:170px;
    background-color:#F4C56B;
}

.content{
    margin-left:170px;
    margin-top:50px;
    overflow-x: hidden;
}

#add-city{
    background-image:url(/addcity.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    text-align:center;
    margin-bottom:-20px;
    height: 90px
}

.btn-add-city{
    margin-top:20px;
    margin-bottom:30px;
    background-color:#F4C56B;
    color:#000;
}

.btn-add-city:active{
    background-color:#000;
    color:#FFF;
}

.title-city{
    text-align:center;
    height:45px;
    margin-left: 15px;
}

.title-city > h1{
    color:#fff;
    text-shadow: 0 0 2px #000;
}

.pals{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    margin-top:15px;
    padding-left: 25px;
}

.pals #imagen:hover .img-activity{
    opacity: 1;

}

.local-activities #imagen:hover .img-activity{
    opacity: 1;
}
.local-activities #imagen{
    height: 250px;
    width:250px;
}
.local-activities #imagen .img-activity{
    opacity: 1;
    height: 200px;
    width: 200px;
}

.table-sidebar{
    margin-top:10px;

}

.table-sidebar > li > a {
    color:#000;
}

.table-sidebar > h5 {
    color:#000;
    margin-left: 7px;
}

.filtro{
    margin-top: 7px;
    margin-left:10px;
    margin-right:10px;
}


.table-sidebar > li:hover > a {
    background:#D9AF5F;
}

.sidebar > hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #D9AF5F;
    margin: 1em 0; padding: 0;
}

/* MACAAA */

#activity-header
{
    margin-top: 5%;
    height: 340px;
    width: 1200px;

}

#info-pal
{
    -webkit-transform: rotate(355deg);
    font-family: 'Special Elite', cursive;
}

.info-tag{
    background-image: url(/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tag-tail {
    height:238px;
    margin-left:-20px;
}

#activity-content
{
    margin-top: 50px;
    background-image: url(/notebook.png);
    background-repeat: no-repeat;
    background-size:120% auto;
    font-family: 'Special Elite', cursive;
}

nombre, .nombre
{
    font-size: 50px;
    font-family: 'Special Elite', cursive;
}

.img-activity {
    border-radius: 50%;
    height: 270px;
    width: 270px;
    position: absolute;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
}

#btn-going{
    position:relative;
    opacity:0;
    margin-top: 115px;
    margin-left: 80px;
}

#btn-delete{
    position:relative;
    opacity:0;
    margin-top: 115px;
    margin-left: 80px;
}

#btn-photo{
    position:relative;
    opacity:0;
    margin-top: 115px;
    margin-left: 55px;
}

#imagen:hover .btn-success {
    opacity: 1;
}
#imagen:hover .btn-danger {
    opacity: 1;
}
#imagen:hover .btn-primary {
    opacity: 1;
}

#imagen-profile:hover .btn-primary {
    opacity: 1;
}

#imagen:hover .img-activity{
    opacity: 0.5;
}

#imagen-profile:hover .img-local-profile{
    opacity: 0.5;
}

#activity-cotent > h3{
    margin-left: 10px;
}

.img-pal{
    margin-left:55%;
    position:relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
}

.img-local-profile{
    border-radius: 50%;
    height: 270px;
    width: 270px;
    position: absolute;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
}

.img-local{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
}

#reviews{
    margin-top:50px;
}
.review{
    margin-top:20px;

}

.comment{
    background-image: url(/txt-bubble.png);
    background-size:100% 100%;
}
.comment > h3{
    margin-left:40px;
    font-family: 'Bubbler One', sans-serif;
}

#imagen {
    height: 330px;
    width: 340px;
}

#contact {
    margin-top: 30px;
}



#titulo {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

img.logo {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    display: block;
}

#info {
    height: 350px;
    background-image: url(/info.png);
    background-size: 100% 350px;
    background-repeat: no-repeat;
}

#desc {
    margin-left: 370px;
}

#users-login {
    height: 280px;
    width: 100%;
    margin-top: 20px;
    vertical-align: middle;
}

/* MACAAA */

/* Sergio */
#tag-pal
{
    background-image: url(/tag2.png);
    background-repeat: no-repeat;
    -webkit-transform: rotate(355deg);
    font-family: 'Special Elite', cursive;
    height: 538px;
    width: 871px;


}


#titulo {
    margin-top: 6%;
}
/* Sergio */

#hot-balloon{
    position:fixed;
    top:10%;
    right:2%;
}

#logo{
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
}

.panel-heading{
    text-align:center;
}

.btn-submit{
    margin-bottom:5%;
    background-color:#F4C56B;
    color:#000;
}

.content-activity {
    overflow-x: hidden;
    margin-left: 170px;
    margin-top: 50px;
}

#imagen-profile {
    height: 310px;
    width: 310px;
}

.local-activities {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    margin-top:15px;
}

.index-content {
    overflow-x: hidden;
}

#local-form {
    margin-top: 65px;
}

.bubble {
    position: relative;
    background-color:#D8CDBB;
    margin: 0;
    padding:10px;
    text-align:center;
    width:100%;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    border-style:solid;
    border-color: #655046;
}
.bubble:after {
    position: absolute;
    display: block;
    content: "";
    border-color: #655046 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:-23px;
    left:1em;
}

.bubble > textarea{
    border: none;
    background-color:#D8CDBB;
}

